<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          技术支持<a href="https://ghost.org/" target="_blank">Ghost</a> | Theme <a href="https://github.com/gitHber/puff" target="_blank">Puff</a> by <a
            href="https://github.com/gitHber" target="_blank">月肃生</a>
          <iframe style="margin-left: 2px; margin-bottom:-5px;" frameborder="0" scrolling="0" width="91px" height="20px"
            src="https://ghbtns.com/github-btn.html?user=gitHber&repo=puff&type=star&count=false">
          </iframe>
        </p>
        <p>{{@blog.title}}<span class="all-rights-reserved">&copy; 2019 likun.fun</span></p>
        <p><a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备19007066</a></p>
      </div>
    </div>
  </div>
</div>