{{!< default}}
<header style="z-index:1">
  {{> navigation}}
</header>
<section class="error-message">
  <h1 class="error-code">{{code}}</h1>
  <p class="error-description">{{message}}</p>
  <a class="error-link" href="{{@blog.url}}">Go to the front page →</a>
</section>
<div class="site-content">
  {{> post-3}}
</div>

